@import "tailwindcss";

@media (max-width: 1024px) {
  .map-container {
    position: relative;
  }

  .task-preview {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  .task-preview__wrap {
    height: 100%;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .task-preview {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
  
  .task-preview__wrap {
    max-width: 100%;
    width: 100%;
  }
}